body {
  margin: 0;
  font-family: 'Euclid Square','Ubuntu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {font: 15px ‘Roboto’, Arial, Helvetica, sans-serif;}

@tailwind base;
@tailwind components;
@tailwind utilities;